<div class="container">
  <div class="row">
    <div class="twelve columns">
      <h2>Author</h2>
      <p>
        {{site.description}}
      </p>
      <ul>
        <li>
          twitter: <a href="https://twitter.com/{{site.twitter_username}}">{{site.twitter_username}}</a>
        </li>
        <li>
          github: <a href="https://github.com/{{site.github_username}}">{{site.github_username}}</a>
        </li>
        <li>
          email: <a href="mailto:{{site.email}}">{{site.email}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
